{block content}
<div id=mainBlock class=center>
<div id=menu>

</div>
<div id=banner>
<br><br>
<p class=heading>Wanna account?</p><br>
It is easy, just complete a form below!
</div>
<div id=content>
{control registrationForm errors}
{control registrationForm}
Have account yet?
<a href="{link Homepage:}">Login</a>
</div>
</div>
{/block}